Source: golang-github-wunderlist-ttlcache
Section: devel
Priority: optional
Maintainer: Aron Xu <happyaron.xu@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
Standards-Version: 4.1.3
Homepage: https://github.com/wunderlist/ttlcache
XS-Go-Import-Path: github.com/wunderlist/ttlcache

Package: golang-github-wunderlist-ttlcache-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: in-memory LRU cache with expiration
 minimal wrapper over a string map in golang, entries of which are:
  * Thread-safe
  * Auto-Expiring after a certain time
  * Auto-Extending expiration on Gets
